{erl_opts, [debug_info]}.
{deps, []}.

{relx, [{release, {snitch, "0.1.0"}, [banker, clock, pinboard, sasl]},
        {sys_config, "./config/sys.config"},
        {vm_args   , "./config/vm.args"},
        {mode, dev}]}.

{profiles, [{prod, [{relx, [{dev_mode    , false},
			    {include_erts, true},
			    {include_src , false},
			    {debug_info  , strip}]}]}]}.
